apiVersion: apps/v1
kind: Deployment
metadata:
  name: hashgenerator-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hashgenerator
  template:
    metadata:
      labels:
        app: hashgenerator
    spec:
      containers:
        - name: writer
          image: logoutput:1
          imagePullPolicy: IfNotPresent
          command: ["python", "writer.py"]
          volumeMounts:
            - name: shared-volume
              mountPath: /shared
        - name: reader
          image: logoutput:1
          imagePullPolicy: IfNotPresent
          command: ["python", "reader.py"]
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          volumeMounts:
            - name: shared-volume
              mountPath: /shared
      volumes:
        - name: shared-volume
          persistentVolumeClaim:
            claimName: shared-storage-pvc