apiVersion: batch/v1
kind: CronJob
metadata:
  namespace: project
  name: todo-backup-cronjob
spec:
  schedule: "50 18 * * *"  # Run daily at 6:50 PM UTC
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: backup
              image: PROJECT/TODO_BACKUP
              env:
                - name: DB_HOST
                  value: "todo-postgres-svc"
                - name: DB_PORT
                  value: "5432"
                - name: DB_NAME
                  valueFrom:
                    secretKeyRef:
                      name: todo-postgres-secret
                      key: POSTGRES_DB
                - name: DB_USER
                  valueFrom:
                    secretKeyRef:
                      name: todo-postgres-secret
                      key: POSTGRES_USER
                - name: DB_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: todo-postgres-secret
                      key: POSTGRES_PASSWORD
                - name: GCS_BUCKET
                  valueFrom:
                    configMapKeyRef:
                      name: todo-backend-configmap
                      key: GCS_BUCKET
              volumeMounts:
                - name: gcs-key
                  mountPath: /secrets
                  readOnly: true
          volumes:
            - name: gcs-key
              secret:
                secretName: gcs-backup-secret
          restartPolicy: OnFailure

